
.grid-page-auth {
    background-color: rgb(235, 235, 235);
    grid-row:2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 40px 1fr 3fr 1fr 40px;
    grid-template-rows: 50px 80px 40px 1fr 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    box-shadow: 1px 1px 20px rgba(43, 43, 43, 0.342);
    height: 100%;
}

.titre-auth {
    grid-row: 2/3;
    grid-column: 3/4;
    text-align: center;
    font-size: 50px;
    font-family: 'Work Sans', sans-serif;
}

form {
    grid-row: 4/5;
    grid-column: 3/4;
    display: grid;
    grid-template-rows: 100px 40px 100px 40px 100px 40px 100px;
    text-align: center;
}

input {
    font-size:30px;
    border-radius: 4%/40%;
    border:1px solid grey;
    text-align: center;
    transition-duration: 200ms;
}

input:hover {
    background-color: rgb(240, 240, 240);
}

label[for="email"] {
    grid-row:1/2;
    grid-column: 1/4;
}

input[name="email"] {
    grid-row:1/2;
    grid-column: 1/4;
    margin-top: 3%;
}

label[for="username"] {
    grid-row:3/4;
    grid-column: 1/4;
}

input[name="username"] {
    grid-row:3/4;
    grid-column: 1/4;
    margin-top:3%;
}

label[for="password"] {
    grid-row:5/6;
    grid-column: 1/4;
}

input[name="password"] {
    grid-row:5/6;
    grid-column: 1/4;
    margin-top:3%;
}


button {
    grid-area: 7/1/8/4;
    font-size: 40px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    border-radius: 5%/40%;
    background-color: black;
    color:white;
    box-shadow: 1px 1px 20px rgba(43, 43, 43, 0.342);
    transition-duration: 300ms;
}

button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.register-link {
    font-size: 12px;
    grid-area: 6/3/7/4;
    text-align: center;
    margin-bottom: 10px;
}

.error {
    color: red;
    grid-area: 6/3/7/4;
    text-align: center;
    font-size: 32px;
}

.success {
    color: rgb(35, 177, 35);
    grid-area: 6/3/7/4;
    text-align: center;
    font-size: 32px;
}