.grid-page-principale {
    background-color: white;
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 40px 8fr 40px 8fr 40px 8fr 40px;
    grid-template-rows: 40px 700px 40px 1fr 40px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    box-shadow: 1px 1px 20px rgba(43, 43, 43, 0.342);
  }